body {
	font-size: 12px;
}

.container {
	width: auto;
}

.secondary-section {
	padding-bottom: 0;
}

.productRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0;
}

.productColumn-equal {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.productColumn {
	display: flex;
	flex-direction: column;
	flex: 0 50%;
}

.productColumn-0 {
	display: flex;
	flex-direction: column;
	flex: 0;
}

.productColumn-05 {
	display: flex;
	flex-direction: column;
	flex: 0 5%;
}

.productColumn-1 {
	display: flex;
	flex-direction: column;
	flex: 0 10%;
}

.productColumn-2 {
	display: flex;
	flex-direction: column;
	flex: 0 20%;
}

.productColumn-3 {
	display: flex;
	flex-direction: column;
	flex: 0 30%;
}

.productColumn-5 {
	display: flex;
	flex-direction: column;
	flex: 0 50%;
}

.productColumn-6 {
	display: flex;
	flex-direction: column;
	flex: 0 60%;
}

.productColumn-7 {
	display: flex;
	flex-direction: column;
	flex: 0 70%;
}

.productColumn-8 {
	display: flex;
	flex-direction: column;
	flex: 0 80%;
}

.productColumn-9 {
	display: flex;
	flex-direction: column;
	flex: 0 90%;
}

.productColumn-10 {
	display: flex;
	flex-direction: column;
	flex: 0 100%;
}

ul.thumbnails {
	width: 100%;
	height: fit-content;
}

.thumbnail {
	width: auto;
	background: transparent;
	display: flex;
	flex-direction: column;
}

.watchTitle {
	border-bottom: 2px solid #8b7347;
	padding: 1.5em 1em;
}

.watchTitle1 {
	padding: 1em;
}

.row.watchTitle,
.row.watchTitle1 {
	margin-left: 0;
}

.watchTitle > span {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.25em;
}

.watchTitle1 > span {
	color: #e7bd70;
	font-size: 17px;
	font-weight: bold;
}

.pagination {
	padding: 1em 1em;
	margin: 0 auto;
	border-top: 2px solid #8b7347;
}

.outer-pagination {
	display: table;
	margin: 0 auto;
}

.inner-pagination {
	width: 100%;
	margin: 0 auto;
}

li.page-item,
a.page-link {
	background-color: transparent !important;
	border: 1px solid transparent !important;
	color: #e7bd70;
}

li.page-item:hover,
li.page-item.active {
	color: #ffffff;
}

a.page-link:hover,
a.page-link.active {
	color: #ffffff;
	background-color: transparent !important;
	border: 1px solid #e7bd70 !important;
	border-radius: 5px;
}

.thumbnails > li {
	float: none;
	margin-bottom: 20px;
	margin-left: 0;
}

.section {
	padding-left: 0;
	padding-right: 0;
}

.section .container {
	padding: 0.5em;
}

.thumbnail > img {
	display: block;
	max-width: auto;
	margin-right: 0;
	margin-left: 0;
}

.thumbnail > p {
	padding-bottom: 0.5em;
}

.thumbnail h3 {
	color: #000;
	margin-top: 0;
	font-size: 17px;
}

.thumbnail h5 {
	margin: 0;
}

.thumbnail .mask {
	background: #131313;
}

.productTitle {
	background-color: #e7bd70;
	margin: 0 0.5em;
	border-radius: 0 0 10px 10px;
	opacity: 0.9;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.productImage {
	margin: 0 0.5em;
}

.productImage:hover {
	border: 10px solid #e7bd70;
}

.productName {
	color: #000000;
	font-size: 17px;
	padding: 0.1em;
	flex: 1;
	flex-grow: 3;
	display: flex;
}

.productName h5,
.price h5,
.discount h5 {
	width: 100%;
	align-self: center;
}

.price {
	background-color: #000000;
	font-size: 17px;
	padding: 0.1em;
	flex: 1;
}

.discount {
	color: #000000;
	font-size: 14px;
	padding: 0.1em;
	text-decoration: line-through;
	flex: 1;
}

.productImg {
	text-align: center;
}

.tableProduct {
	width: 100%;
}

.tableProduct > tbody > tr > th,
.tableProduct > tbody > tr > td {
	text-align: left;
	padding: 0.5em 0;
}

.tableProduct > tbody > tr > th {
	font-size: 15px;
	width: 50%;
	background-color: #1c1c1c;
	border: 2px solid #131313;
	padding: 0.5em 0.5em 0.5em 1em;
}

.tableProduct > tbody > tr > td {
	font-size: 12px;
	background-color: #1a1919;
	border: 2px solid #131313;
	padding: 0.5em 0.5em 0.5em 1em;
}

.priceBuy {
	display: none;
}

.priceBuy-sm {
	display: table;
}

.priceBuy .btn-buy,
.priceBuy-sm .btn-buy {
	height: 50px;
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 1em;
}

.m-1 {
	margin: 1em;
}

.pt-0 {
	padding-top: 0;
}

.mb-3 {
	margin-bottom: 3em;
}

.mb-5 {
	margin-bottom: 5em;
}

.paragraph {
	text-align: justify;
	text-indent: 1em;
}

.btn-buy,
.btn-buy:focus {
	color: #ffffff;
	background: #f60;
	border: 0;
	padding: 0.5em;
}

.btn-buy:hover {
	color: #f60;
	background: #ffffff;
}

.vertical-image {
	width: 100%;
	height: 250px;
}

.priceDiscount {
	display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		font-size: 15px;
	}

	.watchTitle > span {
		font-size: 30px;
		font-weight: bold;
	}

	.watchTitle1 > span,
	.priceTitle {
		color: #e7bd70;
		font-size: 20px;
		font-weight: bold;
	}

	.productImage {
		margin: 0 0.5em;
	}

	.thumbnail > p {
		padding-bottom: 1em;
	}

	.thumbnail h3 {
		margin-top: 0;
		font-size: 20px;
	}

	.section .container {
		padding: 1em;
	}

	.productName {
		font-size: 20px;
		padding: 0.25em;
	}

	.price {
		font-size: 20px;
		padding: 0.25em;
	}

	.discount {
		font-size: 17px;
		padding: 0.25em;
	}

	.productColumn-equal-md {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.productColumn-0-md {
		display: flex;
		flex-direction: column;
		flex: 0;
	}

	.productColumn-05-md {
		display: flex;
		flex-direction: column;
		flex: 0 5%;
	}

	.productColumn-1-md {
		display: flex;
		flex-direction: column;
		flex: 0 10%;
	}

	.productColumn-2-md {
		display: flex;
		flex-direction: column;
		flex: 0 20%;
	}

	.productColumn-3-md {
		display: flex;
		flex-direction: column;
		flex: 0 30%;
	}

	.productColumn-4-md {
		display: flex;
		flex-direction: column;
		flex: 0 40%;
	}

	.productColumn-5-md {
		display: flex;
		flex-direction: column;
		flex: 0 50%;
	}

	.productColumn-6-md {
		display: flex;
		flex-direction: column;
		flex: 0 60%;
	}

	.productColumn-7-md {
		display: flex;
		flex-direction: column;
		flex: 0 70%;
	}

	.productColumn-8-md {
		display: flex;
		flex-direction: column;
		flex: 0 80%;
	}

	.productColumn-9-md {
		display: flex;
		flex-direction: column;
		flex: 0 90%;
	}

	.productColumn-10-md {
		display: flex;
		flex-direction: column;
		flex: 0 100%;
	}

	.tableProduct > tbody > tr > th {
		font-size: 17px;
		width: 40%;
	}

	.tableProduct > tbody > tr > td {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.priceDiscount {
		display: flex;
		flex-direction: column;
	}

	.price-detail {
		font-size: 2em;
		flex: 1;
		padding: 0.5em 0 0 0;
	}

	.discount-detail {
		font-size: 1.25em;
		text-decoration: line-through;
		flex: 1;
		padding: 1em 0 0 0;
		color: #f60;
	}

	.priceDiscount-sm {
		display: none;
	}
}

@media screen and (min-width: 1025px) {
	.vertical-image {
		width: auto;
		height: 500px;
	}

	.productColumn-equal-lg {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.productColumn-0-lg {
		display: flex;
		flex-direction: column;
		flex: 0;
	}

	.productColumn-05-lg {
		display: flex;
		flex-direction: column;
		flex: 0 5%;
	}

	.productColumn-1-lg {
		display: flex;
		flex-direction: column;
		flex: 0 10%;
	}

	.productColumn-2-lg {
		display: flex;
		flex-direction: column;
		flex: 0 20%;
	}

	.productColumn-3-lg {
		display: flex;
		flex-direction: column;
		flex: 0 30%;
	}

	.productColumn-4-lg {
		display: flex;
		flex-direction: column;
		flex: 0 40%;
	}

	.productColumn-5-lg {
		display: flex;
		flex-direction: column;
		flex: 0 50%;
	}

	.productColumn-6-lg {
		display: flex;
		flex-direction: column;
		flex: 0 60%;
	}

	.productColumn-7-lg {
		display: flex;
		flex-direction: column;
		flex: 0 70%;
	}

	.productColumn-8-lg {
		display: flex;
		flex-direction: column;
		flex: 0 80%;
	}

	.productColumn-9-lg {
		display: flex;
		flex-direction: column;
		flex: 0 90%;
	}

	.productColumn-10-lg {
		display: flex;
		flex-direction: column;
		flex: 0 100%;
	}

	.priceBuy {
		display: table;
		width: 50%;
	}

	.priceBuy > button {
		flex: 0.5;
	}

	.priceBuy-sm {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.productColumn {
		flex: 0 25%;
	}

	.vertical-image {
		width: 100%;
		height: 375px;
	}

	.priceDiscount-sm {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.productColumn {
		flex: 0 20%;
	}

	.vertical-image {
		width: 100%;
		height: 500px;
	}
}

@media screen and (max-width: 767px) {
	.priceDiscount-sm {
		display: flex;
		padding: 0 1em;
	}

	td.discount-detail {
		text-decoration: line-through;
		font-size: 1.25em !important;
		color: #f60;
		text-align: center !important;
		padding: 0.5em 0.5em 0.5em 0 !important;
		background-color: transparent !important;
	}

	td.price-detail {
		font-size: 2em !important;
		text-align: center !important;
		padding: 0.25em 0.25em 0.25em 0 !important;
		background-color: transparent !important;
	}

	th.priceTitle {
		color: #e7bd70 !important;
		font-size: 17px !important;
		font-weight: bold !important;
		width: 30% !important;
		padding: 0 !important;
		text-align: center !important;
	}
}
