/* Product Detail Slider */
.slider-wrapper {
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: auto;
}

.mySlides {
	display: none;
}

.mySlides img {
	max-width: 100%;
	height: auto;
}

.cursor {
	cursor: pointer;
}

.slider-border {
	margin-bottom: 1em;
	width: 100%;
	height: auto;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #8b7347;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	right: 0;
}

.slider-row {
	overflow: -moz-hidden-unscrollable;
	display: inline-flex;
}

.slider-row:after {
	content: "";
	display: table;
	clear: both;
}

.slider-row::-webkit-scrollbar {
	display: none;
}

.slider-column {
	float: left;
	flex: 0 20%;
}

.demo {
	opacity: 0.6;
	border: 2px solid transparent;
}

.demo.active,
.demo:hover {
	opacity: 1;
	border: 2px solid #8b7347;
}

/* Vertical Slider */
.swiper-container.vertical-container {
	width: 100%;
	height: 250px;
	z-index: 0;
}

.swiper-wrapper.vertical-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-slide.vertical-wrapper {
	text-align: center;
	font-size: 18px;
	background: transparent;
	height: 200px;
	width: auto;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination.vertical-pagination .swiper-pagination-bullet-active {
	color: #e7bd70 !important;
	background-color: #e7bd70 !important;
	opacity: 1;
}

.swiper-pagination.vertical-pagination .swiper-pagination-bullet {
	color: #ffffff;
	background-color: #ffffff;
	opacity: 1;
}

.button-slider {
	position: absolute;
	top: 85%;
	left: 0;
	right: 0;
	border: none !important;
}

.button-slider button,
.button-slider button:focus,
.button-slider button:hover {
	border-radius: 20px;
	background: rgb(231, 189, 112, 0.8);
	border: 2px solid #e7bd70;
	color: #fff;
}

/* Testimoni Slider */
.swiper-container.testimoni-container {
	width: calc(100vw - 2em);
	height: 100%;
	min-height: 300px;
	background: inherit;
}

.swiper-wrapper.testimoni-wrapper {
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-slide.testimoni-slide {
	font-size: 12px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em;
	display: flex;
	flex-direction: column;
}

.swiper-slide.testimoni-slide .title {
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	height: auto;
	flex: 0.5;
}

.swiper-slide.testimoni-slide .title p,
.swiper-slide.testimoni-slide .text p {
	padding: 0 0.5em;
	margin: 0;
	align-self: center;
}

.swiper-slide.testimoni-slide .subtitle {
	font-size: 1.5em;
}

.swiper-slide.testimoni-slide .icon {
	font-size: 3em;
	flex: 1;
}

.swiper-slide.testimoni-slide .text {
	font-size: 12px;
	max-width: 100%;
	line-height: 1.75em;
	flex: 1;
	flex-grow: 3;
}

.swiper-button-next.testimoni-next:after,
.swiper-button-prev.testimoni-prev:after {
	font-family: swiper-icons;
	font-size: 2em;
	text-transform: none !important;
	letter-spacing: 0;
	text-transform: none;
	font-variant: initial;
}

.testimoni-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-button-next.testimoni-next,
.swiper-button-prev.testimoni-prev {
	position: absolute;
	top: 50%;
	height: var(--swiper-navigation-size);
	width: auto;
	margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color));
	background-color: rgb(57, 59, 57, 0.5);
	width: 20px;
	height: 40px;
}

.swiper-button-next.testimoni-next::after,
.swiper-button-prev.testimoni-prev::after {
	font-size: 1em;
}

.swiper-button-next.testimoni-next {
	right: 0;
	border-radius: 20px 0 0 20px;
	padding: 0em 0em 0em 0.5em;
}

.swiper-button-prev.testimoni-prev {
	left: 0;
	border-radius: 0 20px 20px 0;
	padding: 0em 0.5em 0em 0em;
}

/* Instagram Feeds Slider */
.swiper-container.feeds-container {
	width: calc(100vw - 2em);
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-wrapper.feeds-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-slide.feeds-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	height: 100px;
	width: auto;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

@media screen and (min-width: 769px) {
	/* Ipad */

	/* Vertical Slider */
	.swiper-container.vertical-container {
		width: 100%;
		max-height: 500px;
	}

	.vertical-image {
		width: auto;
		max-height: 500px;
	}

	/* Testimoni Slider */
	.swiper-container.testimoni-container {
		width: calc(100vw - 3em);
		height: 100%;
		min-height: 200px;
		background: inherit;
	}

	.swiper-slide.testimoni-slide .title {
		flex: 1;
	}
	.swiper-slide.testimoni-slide .icon {
		font-size: 3em;
		flex: 1;
		flex-grow: 2;
	}

	/* Instagram Feeds Slider */
	.swiper-container.feeds-container {
		width: calc(100vw - 3em);
	}

	.swiper-slide.feeds-slide {
		max-height: 200px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Ipad Pro */

	/* Vertical Slider */
	.swiper-container.vertical-container {
		width: 100%;
		max-height: 375px;
	}

	.vertical-image {
		width: 100%;
		max-height: 375px;
	}

	/* Testimoni Slider */
	.swiper-container.testimoni-container {
		width: calc(100vw - 2em);
		height: 100%;
		min-height: 200px;
		background: inherit;
	}

	/* Instagram Feeds Slider */
	.swiper-container.feeds-container {
		width: calc(100vw - 2em);
	}

	.swiper-slide.feeds-slide {
		max-height: 200px;
	}
}

@media screen and (min-width: 1025px) {
	/* Laptop or PC */

	/* Vertical Slider */
	.swiper-container.vertical-container {
		width: 100%;
		height: 500px;
	}

	.vertical-image {
		width: 100%;
		height: 500px;
	}

	.button-slider {
		position: absolute;
		top: 90%;
		left: 0;
		right: 0;
	}

	/* Testimoni Slider */
	.swiper-container.testimoni-container {
		width: calc(100vw - 3em);
		height: 100%;
		min-height: 200px;
		background: inherit;
	}

	/* Instagram Feeds Slider */
	.swiper-container.feeds-container {
		width: calc(100vw - 3em);
	}

	.swiper-slide.feeds-slide {
		height: 200px;
	}
}
