html {
	min-height: 100%;
	width: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

body,
.container {
	background-color: #131313;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.containerMenu {
	padding: 1em;
}

.primary-section,
.containerMenu {
	background: #131313;
}

.secondary-section {
	background: transparent;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.background-mask {
	width: 100%;
	background-color: #131313;
	opacity: 0.9;
	position: absolute;
	z-index: -99;
}

.section .container {
	padding-top: 30px;
}

.header {
	height: auto;
	display: flex;
	z-index: 1;
}

.navbar-fixed-top {
	min-height: 1px;
	height: auto;
	padding-top: 0;
}

.navbar {
	background: #131313;
	min-height: 1px;
	letter-spacing: 2px;
}

.nav-collapse {
	padding-left: 5%;
	padding-right: 5%;
}

.navbar .brand img {
	width: 100px;
	height: 100px;
}

.navbar .brand {
	padding: 0;
}

.autocomplete {
	position: relative;
	display: flex;
}

form.search {
	margin: 0;
	width: 100%;
}

input#searchProduct {
	width: auto;
}

input#searchProduct:focus,
input#searchProduct:hover {
	outline: none;
}

input[type="text"]#searchProduct {
	margin-bottom: 0;
	background-color: transparent;
	color: #e7bd70;
	border: 1px solid #e7bd70;
}

input#searchProduct-lg {
	width: 100%;
}

input#searchProduct-lg:focus,
input#searchProduct-lg:hover {
	outline: none;
}

input[type="text"]#searchProduct-lg {
	margin-bottom: 0;
	background-color: #131313;
	color: #e7bd70;
	border: 1px solid #e7bd70;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	top: 25%;
	left: 4%;
	text-align: center;
	pointer-events: none;
	color: rgb(231, 189, 112, 0.8);
	font-size: 1.25em;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #131313;
	border-bottom: 1px solid #e7bd70;
	text-align: left;
	color: #e7bd70;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.brand > img {
	max-width: 100%;
	height: auto;
}

.navbar .btn-navbar,
.navbar .btn-navbar:hover,
.navbar .btn:focus {
	width: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	line-height: 20px;
	background: #e7bd70;
	border: none;
	color: #000000;
	outline: none;
}

.row.container {
	margin-left: 0;
	width: -webkit-fill-available;
	flex: 1;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: transparent;
	text-align: center;
	margin-left: 0;
}

.row.rowMenu {
	margin-left: 0;
}

.rowMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e7bd70;
	text-align: center;
	opacity: 0.9;
}

.rowMenu > .colTemplate {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding: 0.5em 0;
	font-weight: bold;
}

.colTemplate:focus {
	color: #000000;
	text-decoration: none;
}

.colTemplate {
	border-bottom: none;
}

.navMenu:hover,
.navMenu.active {
	background-color: #ffffff;
	color: #000000;
}

#toTop {
	display: none;
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 99;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: #e7bd70;
	color: white;
	cursor: pointer;
	padding: 0.25em 0.5em;
	border-radius: 4px;
}

#toTop:hover {
	background-color: #555;
}

#billyTitle {
	height: 100%;
}

#billyTitle > tbody > tr > th {
	font-size: 1.5em;
}

#billyTitle > tbody > tr > td {
	color: #bf9d5f;
	line-height: 1.5em;
}

.da-slider {
	height: 71vh !important;
}

.da-slide .da-img {
	text-align: center;
	width: 100%;
	top: 0;
	height: 256px;
	line-height: 360px;
	left: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.brown-text {
	color: #bf9d5f;
}

.ptb-1 {
	padding: 1em 0;
}

.pr-03 {
	padding-right: 0.3em;
}

.mtb-15 {
	margin: 1.5em 0;
}

.mt-15 {
	margin: 1.5em 0 0;
}

.footer {
	padding: 1em 1em 2em;
	background-color: #131313;
	opacity: 0.9;
}
.footer-title {
	padding: 0 1em 1em;
	letter-spacing: 4px;
}

.footer div .footer-content {
	margin-bottom: 1em;
}

.footer div:not(:last-child) .footer-content {
	border-right: 1px solid #bf9d5f;
	height: 100%;
}

.home-product {
	background-color: #131313;
	opacity: 0.9;
}

.home-product-title {
	padding: 0 0 1em;
	font-weight: bold;
	letter-spacing: 4px;
	width: 100%;
}

.testimoni {
	background-color: #131313;
	opacity: 0.9;
}

.testimoni-title {
	padding: 0 0 1em;
	font-weight: bold;
	letter-spacing: 4px;
	width: 100%;
}

.feeds {
	min-height: 300px;
	background-color: #131313;
	opacity: 0.9;
}

.feeds-title {
	padding: 0 0 1em;
	font-weight: bold;
	letter-spacing: 4px;
}

.feeds-image {
	width: 100%;
	height: 100%;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: transparent;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.modal-header {
	background-color: #bf9d5f;
	opacity: 1;
}

.modal-content {
	height: auto;
	width: 100%;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}

.modal-title {
	text-align: center;
}

.modal-body {
	position: relative;
	max-height: 100%;
	padding: 1em;
	overflow-y: auto;
	width: 100%;
}

.modal.fade.in.modal-fullscreen {
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
	border: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
	background-color: #000000;
	opacity: 0.9;
}

.modal.fade.modal-fullscreen {
	z-index: -1050;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
	-ms-transition: opacity 0.3s linear, top 0.3s ease-out;
	-o-transition: opacity 0.3s linear, top 0.3s ease-out;
	transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in.modal-fullscreen {
	z-index: 1050;
}

/* Style the tab */
.tab {
	float: left;
	border: 0;
	background-color: transparent;
	width: auto;
	height: auto;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: #fff;
	padding: 1em;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1em;
	line-height: 1.5em;
}

.tabcontent button {
	display: block;
	background-color: inherit;
	color: #fff;
	padding: 1em;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1em;
	line-height: 1.5em;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
	color: #000;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
	color: #000;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 1em;
	border: 0;
	width: 100%;
	border-left: none;
	height: auto;
}

.br-white {
	border-right: 1px solid #fff;
}

.search-sm {
	width: 100%;
	align-self: flex-end;
}

.sidemenu-icon {
	font-size: 2.45em !important;
	color: #e7bd70;
	align-self: center;
	vertical-align: middle;
	cursor: pointer;
}

.sidemenu-sm {
	display: none;
}

/* Sidemenu Parent */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #212121;
	overflow-x: hidden;
	transition: 0.5s;
}

.sidenav a {
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 1.5em;
	color: #b7b7b7;
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid #b7b7b7;
	text-transform: uppercase;
}

.sidenav a:before {
	position: absolute;
	color: #b7b7b7;
	border-top: 1px solid;
	border-right: 1px solid;
	content: "";
	right: 10px;
	width: 10px;
	height: 10px;
	margin-top: 5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sidenav-logo {
	padding: 1em 1em;
	text-align: center;
	border-bottom: 1px solid #b7b7b7;
}

#main {
	transition: margin-left 0.5s;
}

/* Sidemenu Child */
.sidenav-child {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #212121;
	overflow-x: hidden;
	transition: 0.5s;
}

.sidenav-child a {
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 1.5em;
	color: #b7b7b7;
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid #b7b7b7;
	text-transform: uppercase;
}

.sidenav-child-title {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: #e7bd70;
	padding: 0.5em 1em;
	border-bottom: 1px solid #b7b7b7;
}

.sidenav-child-title:before {
	position: absolute;
	color: #e7bd70;
	border-bottom: 2px solid;
	border-left: 2px solid;
	content: "";
	left: 10px;
	width: 10px;
	height: 10px;
	margin-top: 5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
	.rowMenu > .colTemplate {
		flex: 1;
		padding: 0.5em 0 0.25em;
	}

	.rowMenu {
		background-color: #e7bd70;
		opacity: 1;
	}

	.colTemplate {
		border-bottom: 5px solid transparent;
	}

	.navMenu {
		padding: 1em 0 0.75em 0 !important;
	}

	.navMenu a {
		font-size: 1.5em;
	}

	.navMenu.active {
		background-color: #e7bd70;
		border-bottom: 5px solid #ffffff;
		color: #ffffff;
	}

	.navMenu:hover {
		background-color: #e7bd70;
		color: #ffffff;
	}

	.navMenu:hover a,
	.navMenu.active a {
		color: #ffffff;
		text-decoration: none;
	}

	.navMenu:hover a.dropdown-toggle,
	.navMenu.active a.dropdown-toggle {
		color: #ffffff;
		text-decoration: none;
	}

	.navMenu:hover .dropdown-menu {
		display: block;
	}

	.containerMenu {
		padding: 1em;
		margin-left: 0;
	}

	#toTop {
		bottom: 1em;
		font-size: 30px;
	}

	#billyTitle > tbody > tr > th {
		font-size: 3em;
	}

	#billyTitle > tbody > tr > td {
		font-size: 1.5em;
	}

	.dropdown-menu {
		position: absolute;
		top: 115%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 0;
		margin: 0;
		list-style: none;
		background-color: #e7bd70;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, 0.2);
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		opacity: 0.9;
	}

	.dropdown-menu > li > a {
		text-align: left;
	}

	.dropdown-menu > li:hover > a {
		background: #ffffff;
		color: #000000;
	}

	.feeds {
		min-height: 500px;
	}

	.has-search .form-control-feedback {
		top: 18%;
		left: 3.5%;
	}
}

@media screen and (max-width: 1024px) {
	.navbar {
		letter-spacing: normal;
	}

	@media (hover: none) {
		.sidemenu-sm {
			display: block;
		}

		.header {
			border-bottom: 2px solid #8b7347;
		}

		.search-sm {
			padding: 1em 1em 0;
		}

		.has-search .form-control-feedback {
			top: 18%;
			left: 1.5%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	/* IPAD */
	/* .nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}

	.nav-collapse,
	.nav-collapse.collapse {
		width: 100%;
		display: flex;
	} */

	.header {
		border-bottom: 2px solid #8b7347;
	}

	.sidemenu-sm {
		display: block;
	}

	.sidemenu-icon {
		font-size: 2em !important;
	}

	.search-sm {
		padding: 1em 1em 0;
	}

	.has-search .form-control-feedback {
		top: 21%;
		left: 1.5%;
	}

	.footer div:not(:last-child) .footer-content {
		border-bottom: none;
		border-right: none;
	}

	.footer div:nth-child(odd) .footer-content {
		border-bottom: none;
		border-right: 1px solid #bf9d5f;
		height: 100%;
	}
}

@media screen and (max-width: 767px) {
	/* MOBILE */
	.footer div:not(:last-child) .footer-content {
		border-bottom: 1px solid #bf9d5f;
		border-right: none;
	}

	.header {
		border-bottom: 2px solid #8b7347;
	}

	.search-sm {
		padding: 1em 0 0;
	}

	.sidemenu-sm {
		display: block;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}

	.sidenav-child {
		padding-top: 15px;
	}
	.sidenav-child a {
		font-size: 18px;
	}
}

/* @media screen and (max-width: 1224px) {
	.navMenu a {
		font-size: 1em;
	}
} */
