body,
.container {
	background-color: #131313;
}

.containerMenu {
	padding: 1em;
}

.secondary-section,
.primary-section,
.containerMenu {
	background: #131313;
}

.section .container {
	padding-top: 30px;
}

.header {
	height: auto;
	display: flex;
	z-index: 1;
}

.navbar-fixed-top {
	min-height: 1px;
	height: auto;
	padding-top: 0;
}

.navbar {
	background: #131313;
	min-height: 1px;
}

.navbar .brand img {
	width: 100px;
	height: 100px;
}

.navbar .brand {
	padding: 0;
}

.brand > img {
	max-width: 50%;
	height: auto;
}

.navbar .btn-navbar,
.navbar .btn-navbar:hover,
.navbar .btn:focus {
	width: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	line-height: 20px;
	background: #e7bd70;
	border: none;
	color: #000000;
	outline: none;
}

.row.container {
	margin-left: 0;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: transparent;
	text-align: center;
	margin-left: 0;
}

.row.rowMenu {
	margin-left: 0;
}

.rowMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e7bd70;
	text-align: center;
	opacity: 0.9;
}

.rowMenu > .colTemplate {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding: 0.5em 0;
	font-weight: bold;
}

.colTemplate:focus {
	color: #000000;
	text-decoration: none;
}

.colTemplate {
	border-bottom: none;
}

.navMenu:hover,
.navMenu.active {
	background-color: #ffffff;
	color: #000000;
}

#toTop {
	display: none;
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 99;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: #e7bd70;
	color: white;
	cursor: pointer;
	padding: 0.25em 0.5em;
	border-radius: 4px;
}

#toTop:hover {
	background-color: #555;
}

#billyTitle {
	height: 100%;
}

#billyTitle > tbody > tr > th {
	font-size: 1.5em;
}

#billyTitle > tbody > tr > td {
	color: #bf9d5f;
	line-height: 1.5em;
}

.da-slider {
	height: 71vh !important;
}

.da-slide .da-img {
	text-align: center;
	width: 100%;
	top: 0;
	height: 256px;
	line-height: 360px;
	left: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.brown-text {
	color: #bf9d5f;
}

.pr-03 {
	padding-right: 0.3em;
}

.mtb-15 {
	margin: 1.5em 0;
}

.mt-15 {
	margin: 1.5em 0 0;
}

.footer {
	padding: 1em 1em 2em;
	background-color: #222121;
}
.footer-title {
	padding: 0 1em 1em;
}

.testimoni {
	background-color: #222121;
}

.testimoni-title {
	padding: 0 0 1em;
	font-weight: bold;
}

.feeds {
	background-color: #222121;
}

.feeds-title {
	padding: 0 0 1em;
	font-weight: bold;
}

.feeds-image {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.rowMenu > .colTemplate {
		flex: 1;
		padding: 0.5em 0 0.25em;
	}

	.rowMenu {
		background-color: #e7bd70;
		opacity: 1;
	}

	.colTemplate {
		border-bottom: 5px solid transparent;
	}

	.navMenu:hover,
	.navMenu.active {
		background-color: #e7bd70;
		border-bottom: 5px solid #ffffff;
		color: #ffffff;
	}

	.containerMenu {
		padding: 1em;
		margin-left: 0;
	}

	#toTop {
		bottom: 1em;
		font-size: 30px;
	}

	#billyTitle > tbody > tr > th {
		font-size: 3em;
	}

	#billyTitle > tbody > tr > td {
		font-size: 1.5em;
	}
}
